{% extends 'base.html.twig' %}

{% block title %}Art et Décor | Mon Panier{% endblock %}

{% block content %}

<h1 style="margin-top:150px;">Mon Panier</h1>

{% if cart|length > 0 %}

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Produit</th>
      <th scope="col">Quantité</th>
      <th scope="col">Prix</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for product in cart %}
    <tr>
      <th>
        <img src="assets/pictures/{{ product.product.image }}" alt="{{ product.product.name }}" style="height:100px; width:100px;"/><br>
      </th>
      <td style="font-weight:bold;">
        {{ product.product.name }}<br>
        <small>{{ product.product.subtitles }}</small>
      </td>
      <td>
        <a href="{{ path('cart_decrease', {'id': product.product.id}) }}">
            <i class="far fa-minus-square"></i>
        </a>
        x {{ product.quantity }}
        <a href="{{ path('cart_add', {'id': product.product.id}) }}">
            <i class="far fa-plus-square"></i>
        </a>
      </td>
      <td>{{ (product.product.price / 100)|number_format(2, ',', '.') }} €</td>
      <td>{{ ((product.product.price * product.quantity) / 100)|number_format(2, ',', '.') }} €</td>
      <td>
        <a href="{{ path('cart_delete', {'id': product.product.id}) }}" class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
 {% endfor %}
  </tbody>
  <tfoot>
    <tr>
        <td colspan="3" class="text-right">Total :</td>
        <td>{{ (total / 100)|number_format(2, ',', '.') }} €</td>
        <td><a href="{{ path('order') }}" class="btn btn-success">Valider mon Panier</a></td>
    </tr>
  </tfoot>
</table>
{% else %}
    <h1 style="margin-top:150px;"><b>Votre panier est vide !</b></h1>
{% endif %}
{% endblock %}
