{% extends 'base.html.twig' %}
{% block title %}Art et Décor | Mon Compte{% endblock %}
{% block content %}
    {{ form_start(form) }}

        <div style="padding-top:150px;"></div>
        {{ form_row(form.firstname, {'label' : 'Votre prénom', 'attr' : {'placeholder' : 'Prénom' }}) }}
        {{ form_row(form.lastname, {'label' : 'Votre nom', 'attr' : {'placeholder' : 'Nom de famille'}}) }}
        {{ form_row(form.email, {'label' : 'Votre email', 'attr' : {'placeholder' : 'Email'}}) }}
        {{ form_row(form.old_password, {'label' : 'Mot de passe actuel', 'attr' : {'placeholder' : 'Entrez votre mot de passe actuel'}}) }}
        {{ form_row(form.new_password) }}
        <button type="submit" class="btn btn-success">Modifier</button>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-error">
                {{ message }}
            </div>
        {% endfor %}

    {{ form_end(form) }}
{% endblock %}